blinker==1.9.0
cachelib==0.13.0
certifi==2025.4.26
click==8.1.8
dnspython==2.7.0
Flask==3.1.0
Flask-PyMongo==3.0.1
Flask-Session==0.8.0
Flask-Sessions==0.1.5
iniconfig==2.1.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
msgspec==0.19.0
packaging==25.0
pluggy==1.6.0
protobuf==6.30.2
pymongo==4.12.0
pytest==8.3.5
typing_extensions==4.13.2
Werkzeug==3.1.3
