* {
    margin: 0;
    padding: 0;
    /* border: 1px dotted red; */
}

html {
    height: -webkit-fill-available;
    width: -webkit-fill-available;
}

body {
    font: 18px sans-serif;
    height: 100%;
    position: relative;
    width: 100%;
}

header {
    background: floralwhite;
    height: 75px;
    padding: 25px;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 8;
}

header img.logo {
    width: 150px;
    position: absolute;
    left: 25px;
    top: 12.5px;
}

#main {
    height: 100%;
    width: 100%;
}

.section.dashboard {
    margin: 30px auto;
    position: relative;
    text-align: center;
    top: 125px;
    width: 60%;
}



.sidebar {
    float: left;
    position: fixed;
    top: 125px;
    width: 25%;
}

.sidebar .breadcrumbs {
    list-style: none;
    margin: 25px auto;
}

.sidebar .breadcrumbs > li :hover {
    background-color: #60c2ff;
}

.sidebar .breadcrumbs > li.active {
    font-weight: bold;
    background-color: pink;
}

.sidebar .breadcrumbs a {
    color: #000;
    display: block;
    padding: 7.5px 25px;
    text-decoration: none;
}

.ui {
    border-left: 1px solid #666;
    height: 80%;
    margin-left: 25%;
    overflow: scroll;
    position: relative;
    top: 19%;
}

.ui .patient--card {
    width: 45%;
    float: left;
    border: 1px solid;
    border-radius: 25px;
    padding: 15px;
}

.form.auth--form {
    height: 60%;
    margin: auto;
    width: 60%;
}

.form--div {
    display: block;
    float: left;
    height: 60px;
    margin: 15px 5px;
    width: 48%;
    position: relative;
}

.ui .form--div.full__width {
    width: 100%;
}

.ui .form--div.full__width.screening__results--div {
    height: 90px;
}

.ui .form--div.full__width textarea {
    height: 60px;
    width: 50%;
}

.ui .form--div.full__width input[type='text'] {
    width: 50%;
}

.management__and__treatment--options {
    display: inline-block;
}

.form {
    float: left;
    margin: 0 50px;
    width: 90%;
    /* text-align: center; */
}

.input, select, .auth--input {
    border: 1px solid;
    border-radius: 10px;
    margin: 2.5px auto 12.5px;
    padding: 5px;
    width: 90%;
}

.auth--form .form--div #eye {
    position: absolute;
    width: 20px;
    top: 27.5px;
    left: 80%;
}

.input.screening--input[type="radio"],
.input[type='checkbox'] {
    width: 50px;
}

.form--div label {
    display: block;
}

.form--div label.radio__check--label {
    display: inline-block;
    margin: 5px 5px 5px 15px;
}

.form--div .previous__screening {
    display: none;
}

.form--div .previous__screening--h4 {
    width: 200px;
}

.button--opts {
    border: 1px solid;
    border-radius: 25px;
    display: inline-block;
    height: 100px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    width: 200px;
    color: #000;
    text-decoration: none;
}


.button--opts:hover {
    color: #d308d0;
    text-decoration: underline;
}

input[type="submit"] {
    background-color: #60c2ff;
    border: 0;
    border-radius: 12.5px;
    margin: 25px 100px;
    padding: 7.5px;
    width: 200px;
}

.ui.record--view .buttons {
    margin: 10px 20px;
    float: left;
}

.ui.record--view .buttons .button.review--buttons {
    display: block;
    float: left;
    padding: 5px 15px;
    border-radius: 15px;
    background-color: #eee;
    margin: 2.5px;
}

.ui .patients th,
.ui .patients td {
    width: 150px;
    padding: 5px 7.5px;
    border: 1px solid;
    text-align: start;
}