{% extends "base.html" %}
{% block title %}
Cancer Burden Research Project
{% endblock %}
{% block header %}
<h1>
    Lesotho Digital Cancer Registry System
</h1>
{% endblock %}
{% block content %}
<section class="section ui">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form action="" method="post" class="form auth--form">
        <div class="form--div">
            <label for="username">user: </label>
            <input type="text" class="auth--input" id="username" name="username"></div>
        <div class="form--div">
            <label for="password">Password: </label>
            <input type="password" class="auth--input" id="password" name="password">
            <img src="{{ url_for('static',filename='imgs/eye-regular.svg') }}" alt="cersorship--eye" id="eye">
        </div>
        <input type="submit" value="login">
    </form>
</section>
{% endblock %}