<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="authour" content="monkythe7th">
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
<link rel="icon" href="{{ url_for('static', filename='imgs/photo.png') }}">
</head>
<body>
<header class="header clear" id="header">
{% block header %}{% endblock %}
</header>
<main class="main clear" id="main">
    {% block sidebar %}{% endblock %}
    {% block content %}{% endblock %}
</main>
<footer class="footer" id="footer">
</footer>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script type="module">
    // Import the functions you need from the SDKs you need
    import { initializeApp } from "https://www.gstatic.com/firebasejs/9.22.1/firebase-app.js";
    import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.22.1/firebase-analytics.js";
    // TODO: Add SDKs for Firebase products that you want to use
    // https://firebase.google.com/docs/web/setup#available-libraries

    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    const firebaseConfig = {
        apiKey: "AIzaSyCP1VttWQJCxu9anC-QRcV1d2w6y8MjO-s",
        authDomain: "cancer-burden-research.firebaseapp.com",
        projectId: "cancer-burden-research",
        storageBucket: "cancer-burden-research.appspot.com",
        messagingSenderId: "374591854606",
        appId: "1:374591854606:web:907af662119af99f8d045f",
        measurementId: "G-BSZKEJV8RE"
    };

    // Initialize Firebase
    const app = initializeApp(firebaseConfig);
    const analytics = getAnalytics(app);
</script>
<script src="{{ url_for('static',filename='js/scripts.js') }}"></script>
</body>
</html>