{% extends "base.html" %}
{% block title %}
Cancer Burden Research Project
{% endblock %}
{% block header %}
<h1>
    Cancer Screening Database Lesotho
</h1>
<h2>Demographics</h2>
{% endblock %}
{% block content %}
<form action="" method="post" class="demographic--form form">
    <label for="date">Date: </label><input type="datetime-local" name="date" id="todays__date" pattern="\d{2}/\d{2}/\d{4}" min="1/1/2010" required >
    <label for="firstname">Name: </label><input type="text" name="firstname" id="firstname">
    <label for="surname">Surname: </label><input type="text" name="surname" id="surname">
    <label for="gender">Gender: </label><select name="gender" id="gender">
        <option value="male">Male</option>
        <option value="female">Female</option>
    </select>
    <label for="facility__identification__number">Facility Identification Number :</label><input type="text"
        name="facility__identification__number" id="facility__identification__number">
    <label for="national__identification__number">National Identification Number :</label><input type="number"
        name="national__identification__number" id="national__identification__number" minlength="12">
    <label for="dob">Date Of Birth :</label><input type="date" name="dob" id="dob" pattern="\d{2}/\d{2}/\d{4}" required>
    <label for="age">Age :</label><input type="number" name="age" id="age" min="0">
    <label for="physical__address">Physical address: </label><input type="text" name="physical__address"
        id="physical__address">
    <label for="phone">Phone: </label><input type="tel" name="phone" id="phone" pattern="[0-9]{4} [0-9]{4}">
    <label for="level__of__education">Level of Education: </label><select name="level__of__education"
        id="level__of__education">
        <option value="none">None</option>
        <option value="primary">Primary</option>
        <option value="secondary">Secondary / High School</option>
        <option value="technical">Technicon</option>
        <option value="diploma">Diploma</option>
        <option value="degree">Degree</option>
        <option value="other"></option>
    </select>
    <label for="occupation">Occupation: </label><input type="text" name="occupation" id="occupation">
    <label for="marital__status">Marital Status: </label><input type="text" name="marital__status" id="marital__status">
    <label for="religion">Religion: </label><input type="text" name="religion" id="religion">
    <label for="number__of__children">Number of Children: </label><input type="text" name="number__of__children"
        id="number__of__children">
    <label for="nok">Next of Kin Name: </label><input type="text" name="nok" id="nok">
    <label for="nok__phone">Next of Kin Phone number: </label><input type="tel" name="nok__phone" id="nok__phone" pattern="[0-9]{4} [0-9]{4}">
    <input type="submit" value="Next">
</form>

{% endblock %}