{% extends "base.html" %}
{% block title %}
Cancer Burden Research Project
{% endblock %}
{% block header %}
<h1>
    Lesotho Digital Cancer Registry System
</h1>
<h2>All Screening Records</h2>
{% endblock %}
{% block sidebar %}
<div class="sidebar">
    <ul class="breadcrumbs">
        <li><a href="{{ url_for('index') }}">Dashboard</a></li>
        <li class="active"><a href="{{ url_for('ui.demographic') }}">Patient info</a></li>
        <li><a href="{{ url_for('ui.screening') }}">Screening</a></li>
        {% if g.patient %}
        <li><a href="{{ url_for('ui.tumour', nat_id=g.patient['national_id']) }}">tumour markers</a></li>
        <li><a href="{{ url_for('ui.treatment') }}">treatment</a></li>
        <li><a href="{{ url_for('ui.source') }}">source of info</a></li>
        <li><a href="{{ url_for('ui.follow_up') }}">follow up</a></li>
        <li><a href="{{ url_for('ui.review', patient_id=g.patient['national_id']) }}">review</a></li>
        {% else %}
        <li><a href="{{ url_for('ui.review', patient_id='None') }}">review</a></li>
        {% endif %}
    </ul>
</div>
{% endblock %}
{% block content %}
<section class="ui">
    <table class="patients">
        <tr class="table--header">
            <th>National ID</th>
            <th>Facility ID</th>
            <th>Names</th>
            <th>Gender</th>
            <th>Age</th>
            <th>Phone Number</th>
        </tr>
        {% for patient in g.records %}
        <!-- patient cards go here, -->
        <tr class="patient">
            <td class="patient--id"><a href="{{ url_for('ui.review',patient_id=patient['national_id']) }}">{{ patient["national_id"] }}</a></td>
            <td class="patient--facility_id">{{ patient["demographic"]["facility_id"] }}</td>
            <td class="patient--names">{{ patient["demographic"]["firstname"]~" "~patient["demographic"]["lastname"] }}</td>
            <td class="patient--gender">{{ patient["demographic"]["gender"] }}</td>
            <td class="patient--age">{{ patient["demographic"]["age"] }}</td>
            <td class="patient--phone">{{ patient["demographic"]["phone"] }}</td>
        </tr>
        {% endfor %}
    </table>
</section>
{% endblock %}