{% extends "base.html" %}
{% block title %}
Cancer Burden Research Project
{% endblock %}
{% block header %}
<h1>
    Lesotho Cancer Registry System
</h1>
{% endblock %}
{% block content %}
<section class="section section1 dashboard">
    <a class="button--opts reg--opts" href="{{ url_for('ui.patient_demographic') }}"><p class="button--links">Add New Patient Record</p></a>
    <a class="button--opts reg--opts" href="{{ url_for('ui.update_record', form='patiant_info') }}"><p class="button--links">Update Patient Record</p></a>
    <a class="button--opts " href="{{ url_for('ui.view_records') }}"><p class="button--links">View Patient Records</p></a>
    <a class="button--opts admin--opts" href=""><p class="button--links">Delete Record</p></a>
    <hr>
    <a class="button--opts admin--opts" href="{{ url_for('auth.create_user') }}">
        <i class="gg-user-add"></i>
        <p class="button--links">Add new user</p>
    </a>
    <a class="button--opts " href=""><p class="button--links">Connect to Database</p></a>
    <a class="button--opts " href="{{ url_for('auth.logout') }}"><p class="button--links">Log out</p></a>
</section>
{% endblock %}