{% extends "base.html" %}
{% block title %}
Cancer Burden Research Project
{% endblock %}
{% block header %}
<h1>
    Cancer Screening Database Lesotho
</h1>
{% endblock %}
{% block content %}
<form action="" method="post" class="form auth--form">
    <label for="username">user: </label><input type="text" class="auth--input" name="username">
    <label for="password">Password: </label><input type="password" class="auth--input" name="password">
    <input type="submit" value="login">
</form>
{% endblock %}