{% extends "base.html" %}
{% block title %}
Cancer Burden Research Project
{% endblock %}
{% block header %}
<h1>
    Lesotho Cancer Registry System
</h1>
{% endblock %}
{% block content %}
<section class="section ui">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form action="" method="post" class="form auth--form">
        <div class="form--div"><label for="username">user: </label><input type="text" class="auth--input" name="username"></div>
        <div class="form--div"><label for="password">Password: </label><input type="password" class="auth--input" name="password"></div>
        <input type="submit" value="login">
    </form>
</section>
{% endblock %}