{% extends "base.html" %}
{% block title %}
Cancer Burden Research Project
{% endblock %}
{% block header %}
<h1>
    Cancer Screening Database Lesotho
</h1>
<h2>Source of Information</h2>
{% endblock %}
{% block content %}
<form action="" method="post" class="form info__source--form">
    <div class="form--div"><label for="">Institution / Hospital</label><input type="text" name="" id=""></div>
    <div class="form--div"><label for="">Unit / Ward</label><input type="text" name="" id=""></div>
    <div class="form--div"><label for="">Case Number</label><input type="text" name="" id=""></div>
    <div class="form--div"><label for="">Date of Source</label><input type="date" name="" id=""></div>
    <div class="form--div"><label for="">Laboratory</label><input type="text" name="" id=""></div>
    <div class="form--div"><label for="">Lab Number</label><input type="text" name="" id=""></div>
    <input type="submit" value="Next">
</form>
{% endblock %}