{% extends "base.html" %}
{% block title %}
Cancer Burden Research Project
{% endblock %}
{% block header %}
<h1>
    Lesotho Digital Cancer Registry System
</h1>
<h2>Tumour Markers</h2>
{% endblock %}
{% block sidebar %}
<div class="sidebar">
    <ul class="breadcrumbs">
        <li><a href="{{ url_for('index') }}">Dashboard</a></li>
        <li><a href="{{ url_for('ui.demographic') }}">Patient info</a></li>
        <li><a href="{{ url_for('ui.screening') }}">Screening</a></li>
        {% if g.patient %}
        <li class="active"><a href="{{ url_for('ui.tumour', nat_id=g.patient['national_id']) }}">tumour markers</a></li>
        <li><a href="{{ url_for('ui.treatment') }}">treatment</a></li>
        
        <li><a href="{{ url_for('ui.review', patient_id=g.patient['national_id']) }}">review</a></li>
        {% else %}
        <li><a href="{{ url_for('ui.view_records') }}">View Patients</a></li>
        {% endif %}
    </ul>
</div>
{% endblock %}
{% block content %}
<section class="ui">
    <form action="" method="post" class="tumour__markers--form form">
        <div class="form--div"><label for="incidence__date">Date of incidence</label><input type="datetime-local" class="input" pattern="\d{2}/\d{2}/\d{4}" min="1/1/2010" required id="incidence__date" name="incidence__date"></div>
        <div class="form--div">
            <label for="diagnosis_base">Basis of Diagnosis</label>
            <select class="input" name="diagnosis_base" id="diagnosis_base">
                <option value="death certificate">Death Certificate Only</option>
                <option value="clinical only">Clinical Only</option>
                <option value="clinical investigation">Clinical Investigation(x-ray, endoscopy, mri, ct/ur scan)</option>
                <option value="specific tumour markers">Specific Tumour Markers</option>
                <option value="cytology/haematology">Cytology/Haematology</option>
                <option value="hystology of metastatis">Histology of Metastatis</option>
                <option value="histology of primary">Histology of Primary</option>
                <option value="unknown">Unknown</option>
            </select>
        </div>
        <div class="form--div">
            <label for="topography">Primary Site of Tumour / Topography</label>
            <select name="topography id="topography" class="input">
                <option value=""></option>
            </select>
        </div>
        <div class="form--div">
            <label for="morphology">Morphology</label>
            <select name="morphology" id="morphology" class="input">
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
            </select>
        </div>
        <div class="form--div">
            <label for="laterality">Laterality</label>
            <select name="laterality" id="laterality" class="input">
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
            </select>
        </div>
        <div class="form--div full__width">
            <label for="stage">Stage</label>
            <input type="text" class="input" name="stage" id="stage">
            <label class="radio__check--label" for="">T</label><input type="checkbox" name="" id="">
            <label class="radio__check--label" for="">N</label><input type="checkbox" name="" id="">
            <label class="radio__check--label" for="">M</label><input type="checkbox" name="" id="">
        </div>
        <input type="submit" value="Next">
    </form>
</section>
{% endblock %}