{% extends "base.html" %}
{% block title %}
Cancer Burden Research Project
{% endblock %}
{% block header %}
<h1>
    Lesotho Digital Cancer Registry System
</h1>
<h2>Update Patient Info</h2>
{% endblock %}
{% block sidebar %}
<div class="sidebar">
    <ul class="breadcrumbs">
        <li><a href="{{ url_for('index') }}">Dashboard</a></li>
        <li class="active"><a href="{{ url_for('ui.demographic') }}">Patient info</a></li>
        <li><a href="{{ url_for('ui.screening') }}">Screening</a></li>
        {% if g.patient %}
        <li><a href="{{ url_for('ui.tumour', nat_id=g.patient['national_id']) }}">tumour markers</a></li>
        <li><a href="{{ url_for('ui.treatment') }}">treatment</a></li>
        <li><a href="{{ url_for('ui.source') }}">source of info</a></li>
        <li><a href="{{ url_for('ui.follow_up') }}">follow up</a></li>
        <li><a href="{{ url_for('ui.review', patient_id=g.patient['national_id']) }}">review</a></li>
        {% else %}
        <li><a href="{{ url_for('ui.review', patient_id='None') }}">review</a></li>
        {% endif %}
    </ul>
</div>
{% endblock %}
{% block content %}
<section class="ui">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form action="" method="post" class="form update__base--form">
        <div class="form--div"><label for="patient_id">Patient National ID</label><input type="text" name="patient_id" id="patient_id"></div>
        <div class="form--div"><label for="patient_form">Form to Update</label><select type="text" name="patient_form" id="patient_form">
            <option value="demographic">Demographic</option>
            <option value="screening">Screening</option>
            <option value="tumour">Tumour</option>
            <option value="treatment">Treatment</option>
        </select></div>
        <div class="form--div"><input type="submit" value="Search"></div>
    </form>
</section>
{% endblock %}